extends ../_layout/layout.pug
block content
  main.container-fluid.mb-5.ml-1
    .row.justify-content-md-center
      //include ../_includes/countdown.pug
      h1.mx-auto Shell of a website, requires content
        
