@import 'variables';

#navigation{
  background-color: $navbar-background-color-opaque;
  font-size: medium;
  display:block;
  .dropdown-menu{
    background-color:$navbar-background-color-opaque;
  }

  @media (min-width: $lg) {
    background-color: $navbar-background-color-opaque;
    .dropdown-menu{
      background-color:$navbar-background-color-opaque;
    }
  }
  
  a{
    padding-right: 1.2rem;
  }
  a:hover{
    color:$accent-colour;
  }

  a.disabled{
    color:darkgray;
    pointer-events: none;
  }
  .dropdown-menu a:hover{
    //background-color: $navLink-Hover-Background-Color;
  }
}