node_modules/
.idea/
dist/
coverage/
package-lock.json
src/frontEndJS/dependencies/bundle.js*
src/secrets.js
src/public/js/bundle.js
src/public/js/bundle.js.map
src/public/stylesheets/
data/
.snyk
npm-debug.log.*
error.log
warning.log